body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 300px;
}
canvas {z-index:0}

#canvas-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index:0
}
#sidebar     { padding-left: 20px; position:absolute; top:0px; left:30px; z-index:1, overflow: scroll; width: 250px}
#bottom-bar     {
	position:fixed; 
    bottom: 20px; 
    left: 20px;
	height: 100px;
    width: 100%;
	display: inline;
	}

.item {
    border-style: solid;
    border-width: 2px;
	height: 100px;
	width: 200px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
	
	background-color: gray;
	z-index: 1;
}

.qtip-wiki{
    max-width: 385px;
    max-height: 300px;
}

.qtip-wiki p{
    margin: 0 0 6px;
}

.qtip-wiki h1{
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 5px;
}

.qtip-wiki img{
    float: right;
    margin: 10px 10px 10px 0;
}

.qtip-wiki .info{
    overflow: hidden;
}

.qtip-wiki p.note{
    font-weight: 700;
}

#controls {
  ;
}

.fa {
cursor: pointer;
}

iframe { display: block; margin: 0 auto; }

p {word-wrap: break-word;}

