<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/jquery.qtip.min.css" />
<div id="canvas-wrap">
	<div id = "cy"></div>
	<div id="sidebar">
		<div id="node-preview">
			<p id="focusId" />
			<p id="focusRelated" />
			<p id="focusActors" />
			<p id="focusRating" />
		</div>
		<iframe name="iframe_a"></iframe>
	</div>
	<footer id="bottom-bar">
		<div id="work-list">
		</div>
	</footer>
</div>


  <script src="/static/js/libs/jquery-1.9.1.js"></script>
  <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-spread/1.0.9/cytoscape-spread.js"></script>
<script src="/static/js/home.js"></script>
