{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}
<meta id="db_url" data-db_url="{{ db_url }}">

<div id="cy">
</div>

{% endblock %}
{% block script %}
  <script src="/static/js/libs/jquery-1.9.1.js"></script>
  <script src="/static/js/neo4j.js"></script>
  <script src="/static/js/libs/cytoscape.min.js"></script>
  <script src="/static/js/libs/cytoscape-cxtmenu.js"></script>

  <!-- Layout's
  <script src="/static/js/libs/arbor.js"></script>
  <script src="/static/js/libs/arbor-tween.js"></script>
  <script src="/static/js/libs/cola.v3.min.js"></script>
  <script src="/static/js/libs/springy.js"></script>
  -->
  <script src="/static/js/libs/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
<script src="/static/js/home.js"></script>
{% endblock %}
